
<h1>Neue Regel</h1>

<%= form_for(@ruleset) do |f| %>
  <%= error_messages_for @ruleset %>


    <%= f.label :name %>
    <%= f.text_field :name %> 

    <%= f.label :account_id, 'Gilt für: ' %> 
    <%= f.collection_select(:account_id, Account.all(:order => 'title'), 
										:id, :title, {:include_blank => 'Alle Konten'}) %>

	<%= f.label :action, 'Aktion: ' %>
	<%= f.select :action, [['Kategorie zuweisen', 'set_category']]%>
	<span>
	    <%= f.collection_select(:action_parameter, Category.all(:order => 'name'), 
											:id, :name) %>
	</span>

  <%= f.label :active, :class => 'checkbox' do %>
    <%= f.check_box :active %> Regel ist aktiv 
  <% end %>

  <p class="m20">
    <%= f.submit 'Speichern', :class => 'btn btn-primary' %> oder <%= link_to_function 'abbrechen', 'history.back(-1)' %>
  </p>
<% end %>
