<td class="text-right<%= ' transfer' if item.transfer %>"><%= item.created_at.strftime("%d.%m.%y") %></td>
<td class="<%= 'transfer' if item.transfer %>"><%= 'Transfer: ' if item.transfer %><%= item.payee %></td>
<td class="<%= 'transfer ' if item.transfer %> item-description">
  <%= 'Transfer: ' if item.transfer %>
  <%= item.description %>
  <% unless item.note.blank? %>
    <%= link_to image_tag('icons/note.png'), '#', :class => 'show-note-modal', 
                                                  'data-item-id' => item.id,
                                                  :title => item.note, :id => "note_#{item.id}" %>
  <% end %>
</td>
<td class="<%= 'transfer' if item.transfer %>"><%= "#{item.account.title}" unless account %></td>
<td class="text-right<%= get_saldo_class(item.amount) %><%= ' transfer' if item.transfer %>">
  <%= currency(item.amount) %>
</td>
<% if item.category.blank? %>
  <td id="item_<%= item.id %>_category" class="<%= 'transfer' if item.transfer %>">
    <%= render :partial => 'items/add_category', :locals => {:item => item, :account => account} %>
  </td>
<% else %>
  <td id="item_<%= item.id %>_category" class="<%= 'transfer' if item.transfer %>">
    <%= render :partial => 'items/add_category', :locals => {:item => item, :account => account} %>
  </td>
<% end %>
<td class="ar<%= ' transfer' if item.transfer %>">
  <%= link_to raw('<i class="icon-comment"></i>'), '#', :class => 'add-note-modal', 
                                                    'data-item-id' => item.id,
                                                    :title => "Notiz hinzufügen" %>
  <%= link_to raw('<i class="icon-pencil"></i>'), edit_item_path(item), :title => 'Bearbeiten' %>
  <%= link_to raw('<i class="icon-trash"></i>'), item, :method => :delete, :remote => true, :title => 'Löschen' %>

</td>