
<h1>Neue Zahlung</h1>
  

<%= form_for(@item) do |f| %>
  <%= error_messages_for @item %>

  <p>
	<%= f.label :account_id, 'Konto: ' %>
	<% if @account %>
      <%= @account.title %>
      <%= f.hidden_field :account_id, :value => @account.id %>
    <% else %>
      <%= f.collection_select(:account_id, Account.all(:order => 'title'), :id, :title, :class => "fancy") %>
    <% end %>
  </p>

  <%= f.label :amount, 'Betrag' %>
  <%= f.text_field :amount, :size => 60, :autofocus => true %>
  <span class="muted va">Negative values for expenses!</span>

  <%= f.label :payee, 'Empfänger' %>
  <%= f.text_field :payee, :size => 60 %>

  <%= f.label :description, 'Beschreibung' %>
  <%= f.text_field :description, :size => 60 %>

  <%= f.label :category_id, 'Kategorie' %>
  <%= f.collection_select(:category_id, Category.all(:order => 'name'), :id, :name, {:include_blank => true}, :class => "fancy") %>

  <% if @accounts.size > 1 %>
    <%= f.label :transfer, :class => 'checkbox'  do %>
      <%= f.check_box :transfer %> Zahlung ist Transfer zwischen eigenen Konten
    <% end %>
  <% end %>

  <p class="m20">
    <%= f.submit 'Speichern', :class => 'btn btn-primary' %> oder <%= link_to_function 'abbrechen', 'history.back(-1)' %>
  </p>
<% end %>
