
  <h1 id="pagetitle">Datenbank sichern</h1>
  
  <% if user_signed_in? %>
  <div>
      <%= link_to 'Daten jetzt sichern', backups_path, :method => :post, :class => 'button' %>
  </div>
  <br/>
  <% end %>
  
  
  <% unless @backups.empty? %>
  <table>
    <tr>
      <th class="al">Dateiname</th>
      <th class="text-right">Erzeugt</th>
      <th></th>
    </tr>
  
  <% @backups.each do |backup| %>
    <tr>
      <td><%= backup.file_name %></td>
      <td class="text-right"><%= backup.created_at.strftime("%d.%m.%Y %H:%M:%S") %></td>
      <td class="text-right"><%= link_to image_tag('icons/delete.png'), backup, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
  <% else %>
    <div class="m20">
    Es wurden bisher keine Sicherungen angelegt! Sie sollten <%= link_to "Ihre Daten jetzt sichern", backups_path, :method => :post %>.
    </div>
  <% end %>
