<% categories.each do |category| %>
  <% next if !category or category.sum == 0 %>
  <tr class="<%= cycle('even', 'odd') %> overview_category">
    <td style="width:150px;">
      <%= link_to(category.name, 'javascript:', {:'data-subcategory' => "#{container}_category_#{category.object_id}"}) %>
    </td>
    <td class="text-right" style="width:20px;"><%= category.percent %>%</td>
    <td class="text-right" style="width:80px;">
      <%= currency(category.sum) %>
    </td>
    <td class="text-right medium" style="width:100px;">
      <%= currency(category.sum - category.lastmonth_sum) if category.lastmonth_sum  %>
      <%= trend_img(category.sum - category.lastmonth_sum) %>
    </td>
  </tr>
  <tr class="category_sub" id="<%= container %>_category_<%= category.object_id %>" style="display:none;">
    <td colspan="4">  
      <div>
      <table class="category_sub">
        <% category.items.for_date(@enddate).each do |item| %>
        <tr>
          <td style="width:175px;">
            <%= item.payee %>
          </td>
          <td class="text-right<%= get_saldo_class(item.amount) %>" style="width:80px;">
            <%= currency item.amount %>
          </td>
          <td class="text-right"></td>
          <td></td>
        </tr>
        <% end %>
      </table>
      </div>
    </td>
  </tr>
<% end %>