
<div>
  <h1 id="pagetitle">Kategorien verwalten</h1>
  <div class="m20">
    <%= link_to 'Neue Kategorie anlegen', new_category_path, :class => 'btn' %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th colspan="2" class="al">Kategorie</th>
        <th class="text-right" style="width:50px;">Zahlungen</th>
        <th style="width:50px;"></th>
      </tr>
    </thead>
  
    <tbody>
    <% @categories.each do |category| %>
      <tr id="category_<%= category.id %>" class="<%= cycle('odd', 'even') %> hover">
        <td colspan="2"><%= link_to h(category.name), category %></td>
        <td class="text-right"><%= category.items.size unless category.items.empty? %></td>
        <td class="text-right">
          <%= link_to image_tag('icons/edit.png', :alt => "Bearbeiten"), edit_category_path(category) %>
          <%= link_to image_tag('icons/delete.png', :alt => "Löschen"), category, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
      <% category.categories.each do |subcategory| %>
      <tr id="category_<%= category.id %>" class="<%= cycle('odd', 'even') %> hover">
    	<td class="text-right">-</td>
        <td><%= link_to h(subcategory.name), subcategory %></td>
        <td class="text-right"><%= subcategory.items.size unless subcategory.items.empty? %></td>
        <td class="text-right">
          <%= link_to image_tag('icons/edit.png', :alt => "Bearbeiten"), edit_category_path(subcategory) %>
          <%= link_to image_tag('icons/delete.png', :alt => "Löschen"), category_path(subcategory), :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
  
</div>