
<h1>Konto bearbeiten</h1>

<%= form_for(@account) do |f| %>
  <%= error_messages_for @account %>

  <p>
    <%= f.label :title, 'Name des Kontos' %><br />
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :importer, 'Quelle' %><br />
    <%= f.select('importer', options_for_select(AccountImporter::TYPES.map { |i| [i, i] }, @account.importer)) %><br />
  </p>
  
  <p>
    <%= f.label :feed, 'Lokale Saldomat RSS-Feed URL' %><br />
    <%= f.text_field :feed %>
  </p>
  <p>
    <%= f.submit 'Speichern' %> oder <%= link_to_function 'abbrechen', 'history.back(-1)' %>
  </p>
<% end %>

<div class="action">
	<%= link_to 'Konto löschen', account_path(@account.id), :method => :delete, :confirm => 'Das Konto mit allen Umsätzen wir gelöscht. Sind Sie sicher?' %>
</div>
